name: {{node_name}}
initial-cluster-token: PostgreSQL_HA_Cluster_1
initial-cluster-state: new
initial-cluster: {{initial_cluster}}
data-dir: /var/lib/etcd
initial-advertise-peer-urls: {{initial_advertise_peer_urls}}
listen-peer-urls: {{listen_peer_urls}}
advertise-client-urls: {{advertise_client_urls}}
listen-client-urls: {{listen_client_urls}}

# ETCD_ELECTION_TIMEOUT=5000   # Default: 1000ms (increase it to 5000ms)
# ETCD_HEARTBEAT_INTERVAL=500  # Default: 100ms (increase to 500ms)