port {{redis_port}}
bind 0.0.0.0
protected-mode no
cluster-enabled yes
cluster-config-file redis_cluster_{{hostname}}_{{redis_port}}.conf
cluster-node-timeout 5000
appendonly yes
logfile "{{log_file}}"
daemonize yes